@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
    color: #ddd;    
}

.mainProjects-div {
    /* height: 130vh; */
    width: 100%;
    min-height: 900px;
    background-color: #222;
    padding-bottom: 100px;
}

.mainProject-title {
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Acme;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 2.4em;
    /* z-index: 99 !important; */
    
}

.mainProject-title > span {
    position: relative;
    z-index: 2;
}

.mainProject-title > span::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: -0.5rem;
    right: -0.5rem;
    height: 20px;
    z-index: -1;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.mainProject-body {    
    
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    /* align-items: center; */
    /* background-color: red; */
}

.timeLine-item {
    height: 400px;
    /* background-color: red; */
}

.timeLine-title {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: orange; */
    font-family: Acme;
    /* font-size: 17px; */
}

.timeLine-title > span:first-child {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    word-spacing: 3px;
    font-size: 20px;
    color: rgb(209, 183, 33)
}

.timeLine-title > span:nth-child(2) {
    font-size: 15px;
    letter-spacing: 1.1px;
}

.timeLine-body {
    height: 80%;
    display: flex;
    /* justify-content: center; */
    /* background-color: thistle; */
}

.timeLine-img {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aliceblue; */
}


.imgLaptop {
    background: url("../../images/laptop1.png");
    background-size: 100% 100%;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.laptopInner {
    width: 77.1%;
    height: 87%;
    margin-top: 12px;
    border-radius: 5px;
    /* background-color: green; */
}

.timeLine-desc {
    width: 35%;
    height: 100%;
    /* background-color: red; */
    overflow: auto;    
    font-family: Acme;
    font-size: 16px;
    display: flex;
    text-align: left;
    padding: 0px 2px;
    padding-top: 30px;
    /* align-items: center; */
}

.carouselItem {
    width: 100%;
    height: 195px;
    border-radius: 5px;
    /* background-color: red; */
}

.carouselImg {
    width: 100%;
    height: 100%;
}

.slickDiv {
    height: 195px;
    width: 21.77vw;
    /* width: 60%; */
    /* background-color: palegreen; */
}

.imgButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: transparent;
    color: #fff;
    outline: none;
    border: 2px solid rgb(173, 150, 14);
    border-radius: 6px;
    padding: 2px 15px;
    cursor: pointer;
}

.btn:hover {
    transition: 0.7s;
    background-color: rgb(173, 150, 14);
}

