
.mainMentor-div {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #222;
    border-bottom: 0.5px groove #999;
}

.mentorDiv-inner {
    width: 100%;
    /* min-height: 600px; */
    
}